body {
    background-image: url("/assets/hex_studios_banner.png");
}

.title2 {
    font-size: 35px;
    margin: 0;
    transition: .2s;
}

@media only screen and (max-width: 900px) {
    .title2 {
        font-size: 30px;
    }
}

@media only screen and (max-width: 700px) {
    .title2 {
        font-size: 27.5px;
    }
}

@media only screen and (max-width: 450px) {
    .title2 {
        font-size: 25px;
    }
}