body {
    background-image: url("/assets/hex_studios_banner.png");
}

.title2 {
    font-size: 35px;
    margin: 0;
    transition: .2s;
}

.team-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    color: #ffffff;
    background-color: #222222;
    height: 500px;
    width: 250px;
    margin: 25px;
    border: #ffffff solid 3px;
    border-radius: 10px;
    transition: .2s;
}

.team-card i {
    font-size: 32px;
    line-height: 1;
    vertical-align: -.125em;
}

.team-title {
    font-size: 35px;
    font-weight: bold;
    height: 112.7px;
    transition: .2s;
}

.team-img {
    height: 160px;
    transition: .2s;
}

.team-img img {
    height: 160px;
    border: #ffffff solid 3px;
    border-radius: 25px;
}

.team-subtitle {
    height: 112.7px;
    transition: .2s;
}

.username {
    font-size: 25px;
    margin-bottom: 5px;
    font-weight: bold;
    transition: .2s;
}

.name {
    font-size: 20px;
    margin-top: 0;
    transition: .2s;
}

.team-socials {
    margin-top: 35px;
    height: 112.7px;
    transition: .2s;
}

.team-icons {
    color: #ffffff;
    margin: 10px;
    padding: 25px;
    border-radius: 10px;
    transition: .2s;
}

.team-icons:hover {
    color: #111111;
    background-color: #ffffff;
    transition: .2s;

}

@media only screen and (max-width: 900px) {
    .title2 {
        font-size: 30px;
    }
    .team-title {
        font-size: 30px;
    }
    .team-img img {
        height: 144px;
    }
    .username {
        font-size: 22.5px;
    }
    .name {
        font-size: 17.5px;
    }
    .team-icons {
        padding: 20px;
    }
}

@media only screen and (max-width: 700px) {
    .title2 {
        font-size: 27.5px;
    }
    .team-card {
        height: 450px;
        width: 200px;
    }
    .team-card i {
        font-size: 24px;
    }
    .team-title {
        font-size: 27.5px;
    }
    .team-img img {
        height: 128px;
    }
    .username {
        font-size: 20px;
    }
    .name {
        font-size: 15px;
    }
    .team-icons {
        margin: 5px;
        padding: 15px;
    }
}

@media only screen and (max-width: 450px) {
    .title2 {
        font-size: 25px;
    }
    .team-title {
        font-size: 25px;
    }
    .username {
        font-size: 20px;
    }
    .name {
        font-size: 15px;
    }
}