body {
    background-image: url("/assets/hex_studios_banner.png");
}

.title2 {
    font-size: 35px;
    margin: 0;
    transition: .2s;
}

button,
input,
optgroup,
select,
textarea {
    font-size: 25px;
    color: #111111;
    transition: .2s;
}

.fs-form {
    display: flex;
    flex-direction: column;
    border: #ffffff solid 3px;
    padding: 25px;
    margin: 25px;
    row-gap: 25px;
    width: 750px;
    transition: .2s;
}

.fs-field {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    transition: .2s;
}

.fs-label {
    color: #ffffff;
    display: block;
    font-size: 20px;
    transition: .2s;
}

.fs-input,
.fs-select {
    appearance: none;
    border-radius: 10px;
    border: #111111 solid 3px;
    color: #111111;
    background-color: #ffffff;
    font-size: 17.5px;
    height: 35px;
    padding-left: 15px;
    padding-right: 15px;
    transition: .2s;
}

.fs-input:focus-visible,
.fs-select:focus-visible {
    outline: #ffffff solid 3px;
    outline-offset: 3px;
    transition: .2s;
}

.fs-textarea {
    appearance: none;
    border-radius: 10px;
    border: #111111 solid 3px;
    color: #111111;
    background-color: #ffffff;
    font-size: 17.5px;
    height: 150px;
    max-width: 714px;
    min-width: 714px;
    min-height: 25px;
    padding: 10px 15px;
    transition: .2s;
}

.fs-textarea:focus-visible {
    outline: #ffffff solid 3px;
    outline-offset: 3px;
    transition: .2s;
}

.fs-button-group {
    display: flex;
    flex-direction: row-reverse;
    column-gap: 25px;
    transition: .2s;
}

.fs-button {
    background-color: #ffffff;
    border: #111111 solid 3px;
    border-radius: 10px;
    color: #111111;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    padding: 15px 25px;
    transition: .2s;
}

.fs-button:hover {
    background-color: #111111;
    color: #ffffff;
    transition: .2s;
    border: #ffffff solid 3px;
}
@media only screen and (max-width: 1200px) {
    .fs-form {
        width: 500px;
    }
    .fs-textarea {
        max-width: 464px;
        min-width: 464px;
    }
}

@media only screen and (max-width: 900px) {
    .title2 {
        font-size: 30px;
    }
    .fs-label {
        font-size: 17.5px;
    }
    .fs-button {
        font-size: 17.5px;
        padding: 12.5px 22.5px;
    }
}

@media only screen and (max-width: 700px) {
    .title2 {
        font-size: 27.5px;
    }
    .fs-form {
        width: 300px;
    }
    .fs-textarea {
        max-width: 264px;
        min-width: 264px;
    }
    .fs-label {
        font-size: 15px;
    }
    .fs-button {
        font-size: 15px;
        padding: 10px 20px;
    }
}

@media only screen and (max-width: 450px) {
    .title2 {
        font-size: 25px;
    }
    .fs-form {
        width: 200px;
    }
    .fs-textarea {
        max-width: 164px;
        min-width: 164px;
    }
    .fs-label {
        font-size: 12.5px;
    }
    .fs-button {
        font-size: 12.5px;
        padding: 7.5px 17.5px;
    }
}